* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: solid 1px black;
  height: 800px;
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(100% / 8);
  height: calc(100% / 8);
  border: solid 1px black;
}

/* .red {
  background-color: red;
}

.green {
  background-color: green;
} */
