* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: solid 1px black;
  height: 800px;
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: calc(100% / 8);
  height: calc(100% / 8);
  border: solid 1px black;
}

.score {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.modal {
  opacity: 0;
  text-align: center;
  position: relative;
  top: -100px;
  
  /* animation: fade 1.5s forwards; */
}

/*
@keyframes fade {

  0% {
    opacity: 0;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
} */
